<p>{{ mensagemErro }}</p>
<hr />
<h2>Cadastro de clientes</h2>
<form [formGroup]="meuForm" (ngSubmit)="onAtualizar()">
  <table>
    <tr>
      <td>Nome:</td>
      <td><input type="text" formControlName="nome" required /></td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td><input type="email" formControlName="email" required /></td>
    </tr>
    <tr>
      <td colspan="2">
        <button pButton type="submit" label="Atualizar"></button>&nbsp;
        <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="onCancelar()"></button>
      </td>
    </tr>
  </table>
</form>
